// ======================================
//  Mixins
// ======================================

// Center element
@mixin center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Flex container
@mixin flexy($disp: flex, $dir: null, $wrap: null, $just: null, $align: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $align;
}

// Max width
@mixin max-width {
  max-width: 100%;
}

// Media query

@mixin mq-sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin mq-xlg {
  @media (min-width: $xlg) {
    @content;
  }
}
