/* ============================================= */
/*              Graphs                           */
/* ============================================= */

.alert {
    @include flexy($just: space-between);
    color: $white;
    margin: 0 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: $purple-light;
    p {
        margin: 10px;
        font-weight: bold;
    }
    span {
        margin: 0 .6rem;
        font-weight: lighter;
    }
    .exit-icon {
        width: 15px;
        margin: 0 10px;
        cursor: pointer;
    }
}

.chart-container {
    position: relative;
    margin: auto;
    height: 100%;
    width: 99%;
}

.traffic {
    margin: 0 15px;
    @include flexy($just: space-between, $align: center);
    &-li {
        @include flexy();
        cursor: pointer;
        list-style-type: none;
        li {
            padding-left: 15px;
        }
    }
}

.daily-traffic {
    h2 {
        margin-left: 15px;
    }
}

.mobile-users {
    h2 {
        margin-left: 15px;
    }
}