/* ============================================= */
/*              Graphs                           */
/* ============================================= */

.alert-box {
    @include flexy($just: space-between);
    height: 50px;
    color: $white;
    margin: 0 15px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: $purple-light;
    p {
        margin: 10px;
        font-weight: bold;
    }
    span {
        margin: 0 .6rem;
        font-weight: lighter;
    }
    .exit-icon {
        width: 15px;
        margin: 0 10px;
        cursor: pointer;
    }
}

.chart-container {
    position: relative;
    margin: auto;
    height: 100%;
    width: 99%;
}

.traffic {
    margin: 0 15px;
    @include flexy($just: space-between, $align: center);
    &-li {
        @include flexy();
        cursor: pointer;
        list-style-type: none;
        li {
            padding: 8px;
            transition: .1s;
        }
    }
}

.traffic-item1,
.traffic-item2,
.traffic-item3,
.traffic-item4 {
    border: 1px solid $white;
} 

.traffic-item1:hover,
.traffic-item2:hover,
.traffic-item3:hover,
.traffic-item4:hover {
    border-radius: 15px;
    color: $white;
    background-color: $button-success;
}

.traffic-item1:active,
.traffic-item2:active,
.traffic-item3:active,
.traffic-item4:active {
    color: $button-success;
    background-color: $white;
    border: 1px solid $button-success;
}

.daily-traffic {
    h2 {
        margin-left: 15px;
    }
}

.mobile-users {
    h2 {
        margin-left: 15px;
    }
}