/* ============================================= */
/*              Header                          */
/* ============================================= */

.main-header {
    @include flexy($align: center);
    color: $white;
    position: relative;
}

li:first-child {
    flex-grow: 1;
}

.main-header {
    padding: 0; 
    margin: 0;
    list-style-type: none;
    li {
        padding: 0 15px;
    }
}

.span1 {
    font-weight: bold;
}

.span2 {
    font-weight: lighter;
}

.header-img-li {
    @include flexy($align: center);
    border-left: 1px solid $grey;
    span {
        margin-left: 10px;
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(-10deg);
    }
    10% {
        transform: rotate(10deg);
        fill: $orange;
    }
    20% {
        transform: rotate(-10deg);
        fill: $pink;
    }
    30% {
        transform: rotate(10deg);
        fill: $aqua;
    }
    40% {
        transform: rotate(-10deg);
        fill: $prince-purple;
    }
    50% {
        transform: rotate(10deg);
        fill: $hot-red;
    }
    60% {
        transform: rotate(-10deg);
        fill: $yellow;
    }
    70% {
        transform: rotate(10deg);
        fill: $button-warning;
    }
    80% {
        transform: rotate(-10deg);
        fill: $button-success;
    }
    90% {
        transform: rotate(10deg);
        fill: $prince-purple;
    }
    100% {
        transform: rotate(0deg);
    }
}

.main-header li::after {
    content: '';
    padding: 4px;
    border-radius: 50%;
    background-color: $button-success;
    position: absolute;
    bottom: 32px;
    right: 220px;
}

.bell-svg {
    width: 20px;
}

.bell-path {
    animation: wiggle 2s .5s ease-in-out forwards;
    transform-origin: center;
}

.bell-svg:hover {
    transform: scale(1.3);
}

.bell-svg {
    margin: 10px;
    transition: transform .4s ease-out;
    cursor: pointer;
}

.alert-notifications {
    display: none;
    position: relative;
    z-index: 1000;
    width: 60%;
    max-width: 400px;
    margin: auto;
    &-list {
        padding: 10px;
        list-style-type: none;
        background-color: $container;
        color: $dark-text;
        border: 1px solid $dark-text;
        border-radius: 5px;
        li {
            @include flexy($dir: row, $align: center);
            padding: 15px 0;
        }
        li:not(:last-child) {
            border-bottom: 1px solid $border;
        }
    }
    .alert-notifications-bell {
        pointer-events: none;
        width: 20px;
    }
    .alert-notifications-close {
        width: 15px;
        margin-left: auto;
        pointer-events: none;
    }
}
