/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.nav {
    @include flexy($align: center, $just: space-around);
}

.dashboard,
.members,
.visits,
.settings-svg {
    width: 30px;
    fill: $border;
    transition: .2s;
}

.dashboard:hover,
.members:hover,
.visits:hover,
.settings-svg:hover {
    fill: $white;
}