/* ============================================= */
/*              Social                           */
/* ============================================= */
.social {
    h2 {
        margin-left: 15px;
    }
}
.stats {
    @include flexy($dir: column, $align: center);
    &-container {
        @include flexy($align: center, $just: space-evenly);
        width: 75%;
        background-color: $container;
        border: 1px solid $border;
        border-radius: 5px;
        padding: 5px 30px;
        margin: 25px;
    }
}

.social-svg {
    @include flexy($align: center, $just: center);
    border-radius: 50%;
    padding: 20px 20px 15px 20px;
    background-color: $purple-light;
}

.twitter-svg {
    width: 40px;
}

.social-data {
    @include flexy($dir: column, $align: flex-start);
    margin: 1rem;
    h3 {
        color: $purple-light;
        margin: .2rem 0;
        font-size: 1rem;
    }
    p {
        margin: .2rem 0;
        font-size: 3rem;
        font-weight: lighter;
    }
}
